body{

  background-color: rgb(179, 197, 207);
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;

  height: 100vh;
}

a{
  text-decoration: none;
  color: black;
}

.nav-container{

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(117, 162, 202);
  
}

ul{
  text-decoration: none;
  list-style: none;

}

.page-sec{
  margin-right: 10rem;
  font-size: 18px;
  
  border-radius: 2rem;
  
}

.portfolio-link{

  margin-left: 5rem;
  font-size: 20px;
 
  padding: 5px 5px 5px 5px;
 
  
}

.portfolio-link a{
  color: rgb(0, 0, 0);
}

.page-sec{
  color: rgb(0, 0, 0);
  padding: 5px 5px 5px 5px;
}

