.sidebar-nav{



  position: fixed;
  bottom: 0;
  left: 0;
  top: 55px;
  width: 110px;
  background-color: rgb(255, 255, 255);

}

.side-bar-link{

  height: 76px;
  align-items: center;
  justify-content: center;



}

.side-bar-link:hover{

  background-color: rgb(231, 228, 228);
  cursor: pointer;
  
}

.sidebar-img{

  width: 30px;
}

.relative{

  position: relative;
}

.flex{
  display: flex;
}

.text-tag{
  font-size: 12px;
  position: absolute;
  bottom: 0;
}