.contain {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  justify-items: center; 
  align-items: center;   
  padding: 20px; 
  
  position: relative;
  min-width: 90%;
  
}

.pic2, .pic3, .pic4, .pic5 {
  width: 100%; 
  max-width: 500px; 
  height: auto; 
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  transition: transform 0.3s ease; 
}

.pic2:hover, .pic3:hover, .pic4:hover, .pic5:hover {
  transform: scale(1.05); 
}

.pic5 {
  height: 350px; 
  object-fit: cover; 
}


